<!DOCTYPE HTML>
<!--
Twenty 1.0 by HTML5 UP
html5up.net | @n33co
Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>NEWSLETTER 120 - DURHAM CHESS CLUB</title>
    <%= render "layouts/head" %> 
  </head>
  <body class="no-sidebar loading">

    <!-- Header -->
    <header id="header">
    <h1 id="logo">
    <%= link_to(root_path) do %> 
        DURHAM <span>CHESS CLUB</span>
     <% end %>
    </h1>
  </header>

  <!-- Main -->
  <article id="main">


  <!-- One -->
  <section class="wrapper style4 container">
  <!-- Content -->
  <div class="content">
    <section>
    <header>
    <h2>NEWSLETTER 120</h2>
    <h3>May 2014</h3>
    </header>
    <p>
    Keeping our attendance up has been a challenge with the arrival of Spring's milder weather coupled with an abundance of area tournaments , but we've persevered, starting out on May 3rd
    with a slightly lower than average total of 8 players and following on the 10th with 10 participants, including several newcomers. With perhaps some chess fatigue from Thursday night's event
    with Phiona Mutesi in RTP, we slipped back to 7 attendees on May 17.  And finally 9 players including one newcomer showed up on the 24th, not bad for a holiday weekend.  If you'd like to
    support your local live chess venue and help keep us viable, consider paying an occasional visit to enjoy a casual game or two.  
    </p>
    <p>

    </p>
    <p>
    Our club had a strong presence at the referenced May 15, testimonial to Phiona Mutesi and accompanying speed chess event in RTP.  Familiar faces in the crowd included Charles, Roz,
    Tim, Philippe, Jimmy, Julio and Conrad.   She is a friendly, unassuming young woman, and it was a pleasure to meet and talk with her and her coach Robert Katende.  Here are some photos from
    the well attended event. 
    </p>
    <p>

    </p>
    <p>

    </p>
    <p>
    The recent Shamkir Chess 2014 international tournament held in commemoration of Azerbaijan's late Grandmaster Vugar Gashimov came to an end with the triumph of the reigning World
    Champion from Norway, Magnus Carlsen.  Defeating his main rival, Italian grandmaster Fabiano Caruana, in the tenth and final round of the A tournament, Carlsen won the €100,000.prize.  The
    24-year-old Norwegian chess player playing White sealed his win on the 49th move and scored 6.5 points, leaving behind world's top Grandmasters Caruana at 5.5 points, Hikaru Nakamura (3-time
    US Champion), Russian Sergey Karjakin (World Rapid Champion), and Azerbaijan's Teymur Rajabov at 5 points and Shahriyar Mammadyarov at 3 points.
    </p>
    <p>
    <br />
    GM Gata Kamsky has repeated as the U.S. Chess Champion, his fifth time holding the title, after defeating GM Varuzhan Akobian 1.5-0.5 in a playoff.  GM Irina Krush turned in a
    three-peat as the U.S. Women's Champion, her sixth year as title holder, after knocking out WGM Tatev Abrahayam 1.5-0.5 in their own playoff.  Though both champions admit struggling with the
    2014 fields, Kamsky and Krush were the only players to finish undefeated.  The highest rated US player Hikaru Nakamura did not participate.
    </p>
    <p>

    </p>
    <p>
    It's commonly accepted that tactical skill is one of the hallmarks of a strong player.  There are several online sites that provide inter-active tactical problems for your training. 
    I've probably mentioned "<b><a href="http://chesstempo.com/">chesstempo.com</a></b>" in the past, which is one of the best.  Another that I recently discovered that has rated tactics training
    is "<b><a href="http://gameknot.com/">gameknot.com</a></b>".  Both sites start you out with relatively easy problems.  As you successfully solve them, your rating rises and you are given
    progressively more difficult problems.  Of course, your rating can drop as well if you miss one, so that you're given regular exposure to problems at your level of ability. Ultimately this
    will result in your getting stronger at this skill.  I've been using them both regularly with good results. Give them a look.
    </p>
    <p>

    </p>
    <p>
    Games played at material odds between unevenly matched opponents were popular in the 19th century to "level the playing field".  These have been basically supplanted by odds of time
    rather than material in the modern era of the chess clock as providing a more natural contest. The following is a famous example of a Paul Morphy game played at Rook odds in 1850 against his
    father.  <b>Giuoco</b> <b>Piano,Paul Morphy vs. Alonzo Morphy, (remove White's Queen Rook) 1.e4 e5 2.Nf3 Nc6 3.Bc4 Nf6 4.Ng5 d5 5.exd5 Nxd5 </b>(not considered the best defense since it
    encourages the following move)<b> 6.Nxf7!?</b>(the Fegatello Attack) <b>Kxf7 7.Qf3+ Ke6 8.Nc3 Nd4 9.Bxd5+ Kd6 10.Qf7 Be6?</b><b> </b>(10..., Qe7 is better, threatening to exchange Q's)<b> 
      11.Bxe6 Nxe6 12.Ne4+ Kd5 13.c4+ Kxe4 14.Qxe6 Qd4? </b>(14..., Kd4) - (see diagram)
    </p>
    <p>
    <img border="0" width="259" height="259" src='<%= image_path("image002.png") %>' alt="Description: our Generated Chess Board" v:shapes=
    "Picture_x0020_5" />
    </p>
    <p>
    <b>15.Qg4+ Kd3 16.Qe2+ Kc2 17.d3+ Kxc1 </b>(17..., Kb1 would have held out a little longer)<b> 18.O-O mate - </b>A rare checkmate by castling!
    </p>
    <p>

    </p>
    <p>
    Although I don't often attempt this myself, I recently decided to offer Rook odds in a club game to a less experienced player to dramatize the importance of material to him as well as
    to make it more competitive for both of us.  As you will see, it proved to be just that. <b>Siciilan</b><b>Defense, Anonymous vs. C.Conero, (remove Black's Queen Rook), 1.e4, c5; 2.Bb5, a6;
      3.Ba4?</b><b> </b>(the B will be trapped)<b>, b5; 4.Bb3, c4; 5.Bxc4 </b>(immediately having to return a significant portion of the odds.  But as we saw in an earlier game (Conero vs Short -
    newsletter #117) this entrapment and capture results in a loss of time, which must be made up quickly.)<b>, bxc4; 6.Ne2, Bb7;</b> <b>7.d3, cxd3; 8.cxd3; e5 </b>(contesting d4 and f4)<b>;
      9.00, Nc6 </b>(fighting for d4)<b>; 10.f4! </b>(Can this be a Rook odds player?  White attacks the center while opening the "f" file)<b>, Bc5+ </b>(Gaining a tempo for K-side
    development)<b>;</b> <b>11. Kh1, exf4 </b>(11..., e6 was probably best, but I became mesmerized by the possibility of 12.fxe5, Nxe5; 13.d4, winning a piece, and moved too impetuously)<b>;
      12.Qb3 </b>(forking the Bb7 and the f7 square)<b>, Ba8; 13.Bxf4, Nge7 </b>(I've got to get the K out of the center and add some protection to f7 - fast. 13..., Nf6 seemed inferior with
    White's Bg5 and e5 potentially looming.)<b>;14.Nbc3, 00; 15.Na4 </b>(But this seems irrelevant with good K-side attacking prospects for White still available. It also weakens the center.)<b>,
      Ba7; 16.Rf3 </b>(This seems more to the point, foreshadowing a dangerous doubling of Rooks)<b>, Nd4 </b>(An important move. Trading down when behind is usually not desirable, but I felt that
    eliminating attackers while shifting my dark-squared Bishop to a stronger post was a good idea. Here it can serve for both attack and defense.)<b>; 17.Nxd4, Bxd4; 18.Qb4 </b>(Putting the
    question to the B)<b>, Nc6 </b>(This maintains the B while tempoing on the Q)<b>; 19.Qe1, Re8; 20.Rh3 </b>(diffusing the power that could have been enhanced by doubling R's on the "f"
    file)<b>, d5! </b>(Freeing my position while I have time)<b>; 21.Qe2 </b>(Preparing a K-side attack, but it will be difficult without center control)<b>, g6 </b>(Keeping the Q out while
    letting my B into g7 for defense.)<b>; 22.Rh6, Bg7; 23.Rh3, Nd4! </b>(The hole here is a very strong post for the N. The move also tempos on the Q.)<b>; 24.Qf2?, dxe4 </b>(Will win two
    pawns)<b>; 25.Qh4 </b>(Forcing a Q trade just dissipates White's attack)<b>, Qxh4; 26.Rxh4, exd3 </b>(White technically still has a one point lead, but this deep passed pawn is strong
    compensation)<b>; 27.Nb6 </b>(Here I would have focused on eliminating the "d" pawn)<b>, Bb7; 28.Rc1, Re2 </b>(Possible because the Black Bb7 holds the c8 square) - (see diagram)<b>;</b>
    </p>
    <p>
    <img border="0" width="259" height="259" src='<%= image_path("image004.png")%>' alt="Description: our Generated Chess Board" v:shapes=
    "Picture_x0020_6" />
    </p>
    <p>
    <b> 29.h3? </b>(White <i class="cleanuphtml-1">must</i> defend the g2 pawn instead)<b>, Bxg2+; 30.Kh2 </b>(Kg1 is no better)<b>, Nf3+ </b>(Wins the exchange)<b>; 31.Kg3, Nxh4; 32.Rc8+, Bf8;
      33.Kxh4 </b>(33.Bh6 threatening mate at f8 doesn't work because of 33...., Nf5+)<b>, Kg7; 34.Nd7, Be7+; 35.Kg3, d2 </b>(wins more material)<b>; 36.Be5+? </b>(White <i><span class=
        "cleanuphtml-2">had</span> </i>to play Bxd2 giving up the B to stop the pawn) <b>f6; 37.Bc3, d1(Q); 38.a4 </b>(The position is resignable for White now)<b>, Qd3+; 39.Kh2, Qxh3+; 40.Kg1, Qh1
      mate - </b>An exciting game!  
    </p>
    <p>
    <b>   </b>  
    </p>
    <p>
    The following position from another recent club game (see diagram) offers the opportunity to explore several important common tactical motifs, namely the <span class=
      "cleanuphtml-2">pin</span> and the <span class="cleanuphtml-2">back-rank mate</span>. White is a R and 4 pawns down but with his next move <b>1.Nc4,</b> which forks and double attacks my "e"
    and "a" pawns, threatens to regain material. In response I moved <b>1..., Qc7</b>, which reinforced my "a" pawn and set a potential trap if the "d" pawn were to be captured. White then did
    fall into the trap and make the capture by <b>2.Nxd6</b> (2.Rxd6 would lose the Nc4 to my Q) . My response was to <span class="cleanuphtml-2">pin</span> the N by <b>2.., Rfd8, </b>doubling on
    it and threatening to win it.  Now moving the N would of course forfeit his R. And if White were to counterattack my Q by moving 3.Nb5 or 3.Ne8, I would sacrifice the Q to force mate on d1
    (the vulnerable back-rank!) with the R after 3...., Rxd2; 4.Nxc7, Rd1 mate.  White instead played <b>3.Qxe5</b>, thinking to reinforce the N and gain a pawn in the process but overlooking
    that this left the Nc1 hanging
    </p>
    <p>
    to 3<b>..., Qxc1+</b>.  He then had no choice but to either resign or throw himself on the spear by <b>4.Rd1, Qxd1+; 5.Qe1, Qxe1 mate</b> - the fatal curse of the vulnerable back rank!
    </p>
    <p>
    <b> Anon.</b>
    </p>
    <p>
    <img border="0" width="174" height="176" src='<%= image_path("image006.png") %>' alt="Description: our Generated Chess Board" v:shapes=
    "Picture_x0020_7" />
    </p>
    <p>
    <b> Conero</b> 
    </p>
    <p>

    </p>
    <p>
    For this issue's "Master Blunder" game here's a disaster involving the loss of the Q in 8 moves by Jean Taubenhaus, the foremost Warsaw chess player in the late 1870's.  <b>Scotch Game,
      Persifor Frazer vs Jean Taubenhaus Paris. 1888, 1.e4 e5 2.Nf3 Nc6 3.d4 exd4 4.Nxd4 Qh4 (this early Q sortie breaks all the rules) 5.Nc3 Nf6? </b>(cutting off the Q's escape route)-(see
    diagram)
    </p>
    <p>
    <img border="0" width="259" height="259" src='<%= image_path("image008.png") %>' alt="Description: our Generated Chess Board" v:shapes="Picture_x0020_8" />
    </p>
    <p>
    <b>6.Nf5! Qh5 7.Be2 Qg6 8.Nh4</b> <b>Resigns </b>(the Q has nowhere to go)
    </p>
    <p>

    </p>
    <p>
    <b>      </b>In issue 119's first problem<b> </b>Black wins by<b> 60..., f2; 61.Rg8</b> (threatening the 62.Rf8+ skewer if the Black pawn promotes)<b>, Bb1!</b> (since if 62.Kxb1, f1(Q)+  or
    if 62.Rf8+, Bf5 and the pawn will promote) 
    </p>
    <p>

    </p>
    <p>
    Black wins again in problem #2, by<b> 1..., Qa4! 2. Re1 Bxe1 3. Qxe1</b> (3..., Qc2 4. Be5 Qb2 5. Be4 Bf5 6. Bxf5 Rxf5 7. Bf4 Rf6 8. Kg2 Qxa2 9. Be5 Rg6 ) 
    </p>
    <p>

    </p>
    <p>
    In issue 119's "Novice Nook" problem, White wins the B by the Q <span class="cleanuphtml-2">fork</span> <b>1.Qa4+, Any; 2.Qxg4.     </b>
    </p>
    <p>

    </p>
    <p>

    </p>
    <p>
    White has a small material advantage in this basically even but double-edged position that serves as this issue's problem #1, but Black has the move.  What's his/her best continuation?
    </p>
    <p>
    Problem #1
    </p>
    <p>
    <img border="0" width="174" height="176" src='<%= image_path("image010.png") %>' alt="Description: our Generated Chess Board" v:shapes=
    "Picture_x0020_9" />
    </p>
    <p>

    </p>
    <p>
    Our second problem is another endgame set-up with White to move.  How does this one turn out?
    </p>
    <p>
    Problem #2 
    </p>
    <p>
    <img border="0" width="174" height="176" src='<%= image_path("image012.png") %>' alt="Description: our Generated Chess Board" v:shapes=
    "Picture_x0020_10" /><br />

    </p>
    <p>
    <b>Novice Nook</b>
    </p>
    <p>
    This issue's "novice" problem is a position from one of my club games.  Black's pieces are all bearing down on the exposed White K position. 
    </p>
    <p>
    But it's White's move, and that makes all the difference.  How?  (Remember your basic tactics.)
    </p>
    <p>
    <img border="0" width="174" height="176" src='<%= image_path("image014.png") %>' alt="Description: our Generated Chess Board" v:shapes=
    "Picture_x0020_11" />
    </p>
    <p>

    </p>
    <p>
    <b>Chess Quote</b>
    <blockquote>"No pawn exchanges, no file-opening, no attack." - Aaron Nimzowich</blockquote>
    </p>
    <p>

    </p>
    <p>
    Yours for Chess,
    </p>
    <p>
    Conrad
    </p>

    </section>


    </section>


    </article>

    <!-- Two -->
    <section class="wrapper style1 container special">
    <div class="row">
      <div class="4u">

        <section>
        <span class="icon feature fa-check"></span>
        <header>
        <h3>All Welcome!</h3>
        </header>
        <p>
        No fees.<br />
        Sets and boards are provided.<br /> 
        Players of all skill levels are welcome.

        </p>
        </section>

      </div>
      <div class="4u">

        <section>
        <span class="icon feature fa-clock-o"></span>
        <header>
        <h3>Club Hours</h3>
        </header>
        <p>
        Every Saturday Afternoon <br /> 
        2:00 pm - 4:30 pm for casual play
        </p>
        </section>

      </div>
      <div class="4u">

        <section>
        <span class="icon feature fa-map-marker"></span>
        <header>
        <h3>Location</h3>
        </header>
        <p>North Durham Regional Library<br />
        221 Milton Road<br /> 
        Durham, NC 27701 </p>
        <a href="https://www.google.com/maps/place/Durham+County+Library+-+North+Regional+Library/@36.087825,-78.914313,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0xe21ba53b1b413889" class="button">Directions</a>
        </section>

      </div>
    </div>
    </section>

    <!-- CTA -->
    <section id="cta">

    <header>
    <h2>Join us for a game!</h2>
    </header>
    </section>

    <!-- Footer -->
    <footer id="footer">

    <span class="copyright">&copy; Durham Chess Club. All rights reserved. Built by <a href="https://github.com/Grantismo">Grant Warman</a>. Design: <a href="http://html5up.net">HTML5 UP</a>.</span>


    </footer>
  </body>
</html>
